@tailwind base;
@tailwind components;
@tailwind utilities;

.content-bg {
  background-image: url("../public/bg-img.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

html {
  font-family: "Ubuntu", serif;
}

.faded-background {
  background-color: rgba(0, 0, 0, 0.1);
}
